/* Color Theme Swatches in Hex */
/* Color Theme Swatches in RGBA */
* {
  margin: 0px;
  padding: 0px;
}

*::-moz-selection {
  background: #910585dc;
  color: white;
}

*::selection {
  background: #910585dc;
  color: white;
}

body {
  background: #cfcfcff2;
  letter-spacing: 1px;
  font-size: 19.2px;
  font-family: "Inconsolata", monospace;
}

.ad {
  margin-bottom: 1.25em;
}

a {
  color: #108c75;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  display: inline-block;
}

a:hover {
  color: #24d8b7;
}

.seccion-titulo {
  border-bottom: 3px solid #BF800B;
  margin-bottom: 2.5em;
}

.titulo {
  letter-spacing: 1px;
  font-family: "Oxanium", cursive;
  font-weight: 300;
}

p {
  margin: 0;
  padding: 0;
}

.up {
  position: fixed;
  bottom: 2em;
  right: 2em;
}

.up a {
  padding-top: 1.5em;
  border-radius: 50%;
  color: white;
  font-size: .7em;
  line-height: .7em;
  width: 50px;
  height: 50px;
  text-align: center;
  background: #011F26;
}

header .logo-redes {
  background: #464646;
}

header .logo-redes .logo {
  padding: 0;
  padding-top: 1.25em;
  padding-bottom: 1.25em;
}

header .logo-redes .logo a img {
  vertical-align: top;
}

header .logo-redes .redes {
  display: block;
  padding-top: 1.25em;
  padding-bottom: 1.25em;
  line-height: 5em;
}

header .logo-redes .redes a {
  border-radius: 50%;
  text-align: center;
  height: 2.5em;
  width: 2.5em;
  margin-left: 1.3em;
  line-height: 2.5em;
  background: #108c75;
  color: white;
  font-size: 1em;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

header .logo-redes .redes a.youtube {
  background: #ff0000;
  color: #282828;
}

header .logo-redes .redes a.instagram {
  background: #fcaf45;
}

header .logo-redes .redes a.facebook {
  background: #3b5998;
}

header .logo-redes .redes a:hover {
  background: #108c75;
  color: white;
}

header .menu {
  background: #F2BB16;
}

header .menu ul {
  padding: 0;
}

header .menu ul a {
  border-bottom: 3px solid #F2BB16;
  padding: 0.9em 1.2em;
  margin: 0;
  text-decoration: none;
}

header .menu ul a:hover {
  background: #BF800B;
  color: white;
  border-bottom: 3px solid #118C76;
}

main .articulos .posts .post {
  padding: 0px 1em;
  margin-bottom: 2.5em;
}

main .articulos .posts .post .contenedor {
  -webkit-box-shadow: 0px 0px 10px 3px #2727279d;
          box-shadow: 0px 0px 10px 3px #2727279d;
  background: white;
  overflow: hidden;
  border-radius: 4px;
  padding: 0;
}

main .articulos .posts .post .contenedor .thumb {
  overflow: hidden;
}

main .articulos .posts .post .contenedor .thumb img {
  width: 100%;
  vertical-align: top;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

main .articulos .posts .post .contenedor .thumb img:hover {
  opacity: .85;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

main .articulos .posts .post .contenedor .contenedor-info {
  padding: 0px 1.2em;
}

main .articulos .posts .post .contenedor .contenedor-info .info .titulo {
  font-size: 1.1em;
  padding: 1.3em 0px;
  padding-bottom: .5em;
  text-align: center;
  margin: 0;
  color: #118C76;
}

main .articulos .posts .post .contenedor .contenedor-info .info .titulo.single {
  font-size: 1.4em;
}

main .articulos .posts .post .contenedor .contenedor-info .info .fecha {
  font-size: .7em;
  text-align: right;
  font-weight: 300;
  border-bottom: 1px solid black;
  margin-bottom: .8em;
  color: #0202028f;
}

main .articulos .posts .post .contenedor .contenedor-info .info .fecha.single {
  font-size: 1em;
}

main .articulos .posts .post .contenedor .contenedor-info .info .texto * {
  margin-bottom: 1.3em;
}

main .articulos .posts .post .contenedor .contenedor-info .info .extracto {
  font-size: .8em;
  text-align: left;
  line-height: 1.5em;
  padding-bottom: .6em;
  border-bottom: 1px solid black;
  overflow: hidden;
  height: 12.3em;
  max-height: 12.3em;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

main .articulos .posts .post .contenedor .contenedor-info .info .extracto:hover {
  overflow: auto;
}

main .articulos .posts .post .contenedor .contenedor-info .info .categorias {
  padding: 1em 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

main .articulos .posts .post .contenedor .contenedor-info .info .categorias.single {
  padding: 0.3em;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

main .articulos .posts .post .contenedor .contenedor-info .info .categorias.single a {
  margin-right: 0.4em;
}

main .articulos .posts .post .contenedor .contenedor-info .info .categorias ul {
  list-style: none;
}

main .articulos .posts .post .contenedor .contenedor-info .info .categorias ul li {
  display: inline-block;
}

main .articulos .posts .post .contenedor .contenedor-info .info .categorias a {
  font-size: .7em;
  padding: 3px 14px;
  border-radius: 4px;
  -webkit-text-decoration: 0;
          text-decoration: 0;
  background: #F2BB16;
  color: black;
}

main .articulos .posts .post .contenedor .contenedor-info .info .categorias a:hover {
  background: #BF800B;
  color: white;
}

.paginacion > div {
  padding: 0;
}

.paginacion ul {
  list-style: none;
  overflow: hidden;
  margin-bottom: 1.25em;
  font-size: 1em;
}

.paginacion ul li {
  margin-bottom: 1em;
  float: left;
  background: #118C76;
  color: white;
  margin-right: .62em;
  font-size: 1.1em;
  line-height: 1.1em;
}

.paginacion ul li.disabled {
  padding: 0.62em 0.937em;
  font-size: 1.1em;
  line-height: 1.1em;
}

.paginacion ul li a {
  background: #F2BB16;
  line-height: 1.1em;
  display: inline-block;
  padding: 0.62em 0.937em;
}

.paginacion ul li a:hover {
  background: #BF800B;
  color: white;
}

.paginacion .wp-pagenavi {
  margin-bottom: 1em;
}

.paginacion .wp-pagenavi .pages,
.paginacion .wp-pagenavi span {
  background: #118C76;
  color: white;
  font-size: 1.1em;
  margin-right: 0.6em;
  line-height: 0.6em;
  padding: 0.62em 0.937em;
}

.paginacion .wp-pagenavi a {
  background: #F2BB16;
  line-height: 1.1em;
  font-size: 1.1em;
  display: inline-block;
  padding: 0.62em 0.937em;
  margin-right: 0.6em;
}

.paginacion .wp-pagenavi a:hover {
  background: #BF800B;
  color: white;
}

.widgets .widget {
  overflow: hidden;
  padding-bottom: 3em;
}

.widgets .widget .seccion-titulo {
  margin-bottom: 1em;
}

.widgets .widget.redes-sociales a {
  overflow: hidden;
  float: left;
  width: 33.333333%;
  text-align: center;
  padding: 1.25em;
  background: #3a3a3a;
  display: inline-block;
  color: white;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.widgets .widget.redes-sociales a .icono {
  width: 100%;
  font-size: 1.6em;
  margin-bottom: 0.3em;
}

.widgets .widget.redes-sociales a.youtube {
  background: #ff0000;
}

.widgets .widget.redes-sociales a.instagram {
  background: #f56040;
}

.widgets .widget.redes-sociales a.facebook {
  background: #3b5998;
}

.widgets .widget.redes-sociales a:hover {
  text-decoration: none;
  background: #118C76;
  color: white;
}

.widgets .widget.boletin .formulario {
  background: #464646;
  overflow: hidden;
  border-radius: 4px;
  padding: 1em 0.7em;
}

.widgets .widget.boletin .formulario label[for="email"] {
  display: block;
  text-align: center;
  color: white;
  font-size: 1.1em;
  padding-bottom: 0.4em;
  border-bottom: 1px solid white;
  margin-bottom: 1.5em;
}

.widgets .widget.boletin .formulario input[type="email"] {
  display: block;
  border: none;
  width: 100%;
  padding: 0.2em 0.4em;
  border-radius: 3px;
  color: black;
  margin-bottom: 1em;
}

.widgets .widget.boletin .formulario input[type="submit"] {
  display: block;
  margin: auto;
  padding: 0.3em 0.6em;
  color: black;
  background: white;
  border: none;
  -webkit-box-shadow: 0px 6px #118C76;
          box-shadow: 0px 6px #118C76;
}

.widgets .widget.boletin .formulario input[type="submit"]:hover {
  -webkit-box-shadow: 0 4px #118C76;
          box-shadow: 0 4px #118C76;
  outline: none;
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

.widgets .widget.boletin .formulario input[type="submit"]:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}

footer .menu ul {
  padding: 0;
  list-style: none;
}

footer .menu ul a {
  display: inline-block;
  margin-left: 1.5em;
}

@media screen and (max-width: 768px) {
  .ad {
    display: none;
  }
  .ad.widget {
    display: block;
    margin: 0.3em 0px;
  }
  header {
    margin-bottom: 1em;
  }
  header .menu ul a {
    font-size: 0.9em;
    padding: 0.6em 0.7em;
  }
  main .articulos .posts .post {
    padding: 0px 0em;
  }
  main .articulos .posts .post .contenedor .contenedor-info {
    padding: 0px 0.8em;
  }
  main .articulos .posts .post .contenedor .contenedor-info .info .titulo {
    font-size: 1.2em;
    padding: 0.8em 0px;
    padding-bottom: .3em;
  }
  main .articulos .posts .post .contenedor .contenedor-info .info .titulo.single {
    font-size: 1.2em;
  }
  main .articulos .posts .post .contenedor .contenedor-info .info .fecha.single {
    font-size: 0.8em;
  }
  main .articulos .posts .post .contenedor .contenedor-info .info .texto {
    font-size: 0.8em;
  }
  main .articulos .posts .post .contenedor .contenedor-info .info .texto * {
    margin-bottom: 1em;
  }
  main .articulos .posts .post .contenedor .contenedor-info .info .extracto {
    font-size: .9em;
    height: auto;
  }
  main .articulos .posts .post .contenedor .contenedor-info .info .extracto:hover {
    overflow: visible;
  }
  main .articulos .posts .post .contenedor .contenedor-info .info .categorias {
    padding: 0.6em 0px;
  }
  footer .menu ul a {
    font-size: 0.8em;
    margin-left: 1em;
  }
}

@media screen and (max-width: 576px) {
  header {
    margin-bottom: 0.7em;
  }
  header .logo-redes .logo {
    padding: 0;
    padding-top: 1.25em;
    padding-bottom: 1.25em;
  }
  header .logo-redes .redes {
    display: none;
  }
  header .menu ul a {
    font-size: 0.85em;
    padding: 0.3em 0.4em;
  }
  main .articulos .posts .post {
    padding: 0px 0em;
  }
  main .articulos .posts .post .contenedor .contenedor-info {
    padding: 0px 0.3em;
  }
  main .articulos .posts .post .contenedor .contenedor-info .info .texto {
    font-size: 0.7em;
  }
  main .articulos .posts .post .contenedor .contenedor-info .info .texto * {
    margin-bottom: 0.8em;
  }
  footer .menu ul a {
    font-size: 0.8em;
    margin-left: 1em;
  }
}
/*# sourceMappingURL=master.css.map */