*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body{
    font-family: 'Quicksand', sans-serif;
    font-size: 10px;
    background-color: #e6e6e6;
}

.contenedor{
    box-shadow: 0px 0px 60px rgb(32, 32, 32);
    width: 99%;
    max-width: 400px;
    margin: auto;
    background-color: snow;
    padding-top: 7px;
    border-radius: 0px 0px 14px 14px;
}

.formulario h1{
    display: block;
    text-align: center;
    font-weight: normal;
    font-size: 4em;
    letter-spacing: 1px;
    font-family: 'Teko', sans-serif;
}
.formulario .inputs{
    padding-top: 10px;
    border-top: 1px solid tomato;
    margin: 0px 20px;
}

.formulario .inputs .texto{
    display: block;
    width: 100%;
    margin: 20px 0px;
    padding: 7px;
    font-size: 2em;
    border: none;
    border-bottom: 3px solid rgba(0, 0, 0, 0.329);
}

.formulario .inputs .texto:focus{
    border-bottom: 3px solid rgb(165, 11, 255);
}
.formulario .inputs .texto::selection{
    background-color: tomato;
}


.formulario .inputs input[type="radio"]{
    display: none;
}

.formulario .inputs .sexos{
    margin: 25px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}
.formulario .inputs .sexos label{
    background-color: tomato;
    opacity: 0.4;
    margin: 0px 3px;
    padding: 7px 10px;
    width: 110px;
    font-size: 2em;
}

.formulario .inputs input[type="radio"]:checked + label{
    opacity: 1;
}
.formulario .inputs .sexos label[for="hombre"]{
    text-align: right;
    border-radius: 0px 0px 0px 7px;
}
.formulario .inputs .sexos label[for="mujer"]{
    text-align: left;
    border-radius: 0px 0px 7px 0px;
}
.formulario .inputs .sexos label:hover{
    cursor: pointer;
    opacity: .7;
}


.formulario .inputs .s-terminos{
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.formulario .inputs .s-terminos label{
    padding-left: 10px;
    font-size: 1.8em;
}
.formulario .inputs .s-terminos label:hover{
    cursor: pointer;
}

.formulario .error{
    list-style: disc;
    display: none;
    background-color: rgb(255, 23, 158);
    padding: 20px;
    transition: all .6s ease;
}

.formulario .error li{
    font-size: 1.6em;
    font-weight: lighter;
    font-style: italic;
    text-decoration: underline;
    padding: 7px;
    transition: all .6s ease;
}

.formulario .btn_Registrar{
    font-family: 'Teko', sans-serif;
    letter-spacing: 2px;
    width: 100%;
    text-align: center;
    border: none;
    background-color: rgb(165, 11, 255);
    color: white;
    font-size: 3em;
    padding: 13px 0px;
    border-radius: 0px 0px 14px 14px;
    opacity: .7;
}

.formulario .btn_Registrar:hover{
    cursor: pointer;
    opacity: 1;
}